header{
  position: absolute;
  color: $LightGrayishCyan;
  z-index:2;
  width: 100%;
  padding: 50px 116px;
  font-weight: 600;
  display: flex;

  @media(max-width:760px){
    padding: 35px 
  }

  @media(max-width:$Mobile){
    padding: 35px 15px 
  }

  .navbar{
    display: flex;
    width: 100%;

    & > img{
      padding-right: 50px;
      @media (max-width:$Tablet){
        padding-right: 0;
      }
    }

    .navcontent{
      display: flex;
      width: 100%;

      @media (max-width:$Tablet){
        width: 0;
        display: none;
        box-shadow: 0px 5px 20px #0000007a;

        &.modalopen{
          display: flex;
          flex-direction: column;
          position: absolute;
          background-color: $White;
          width: 90%;
          top: 130px;
          left: 0;
          border-radius: 10px;
          align-items: center;
          left: 50%;
          transform: translate(-50%);
          padding: 15px;
          color: $VeryDarkGrayishCyan;
        }
      }

      .dropdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 20px;
        cursor: pointer;
        overflow: visible;
        position: relative;


        @media(max-width:$Tablet){
          padding: 10px;
          align-items: center;
          width: 100%;
        }

        .dropdowntext{
          display: flex;
          align-items: center;
          transition: color 0.25s ease-in-out;
          
          &:hover{
            color: $GrayishBlue;
          }

          img{
            width: 10px;
            height: 10px;
            margin-left: 10px;
            transition: all 0.25s ease-in-out;
          }

          &.selected{
            text-decoration: underline 2px;

            img{
              transform: rotate(180deg);
            }
          }
        }

        .dropdowncontent{
          z-index: 3;
          position: absolute;
          top:45px;
          left: -27px;
          background-color: $White;
          display: flex;
          flex-direction: column;
          border-radius: 5px;
          padding: 20px 0;
          box-shadow: 0px 5px 20px #0000007a;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0.5s ease-in-out,opacity 0.5s ease-in-out;

          @media(max-width:$Tablet){
            position: static;
            padding: 0;
            background-color: $LightGrayishCyan;
            box-shadow: none;
          }

          &.product{
            width: 160px;
            @media(max-width:$Tablet){
              &.open{
                width: 100%;
              }
            }
          }

          &.compagny{
            width: 145px;
            @media(max-width:$Tablet){
              &.open{
                width: 100%;
              }
            }
          }

          &.connect{
            width: 150px;
            @media(max-width:$Tablet){
              &.open{
                width: 100%;
              }
            }
          }

          &.open{
            visibility: visible;
            opacity: 1;

            @media(max-width:$Tablet){
              position: static;
              padding: 20px 0px;
              margin: 10px 0;

              a{
                display: inline;
                text-align: center;
              }
            }
          }

          a{
            color: $VeryDarkGrayishCyan;
            padding: 10px 27px;
            font-weight: 300;

            @media(max-width:$Tablet){
              display: none;
              font-weight: 600;
            }

            &:hover{
              font-weight: 600;
            }
          }
        }
      }

      .login{
        display: flex;
        align-items: center;
        margin-left: auto;

        @media(max-width: $Tablet){
          flex-direction: column;
          margin: 0;
          width: 100%;
          border-top: $GrayishBlue solid 1px;
        }
  
        .loginbtn{
          transition: color 0.25s ease-in-out;
          &:hover{
            color: $GrayishBlue;
          }

          @media(max-width: $Tablet){
            padding: 25px 20px 10px;
            color: $VeryDarkGrayishCyan;
          }
        }
        
        .signupbtn{
          color: $Lightred;
          padding: 10px 30px;
          border: 1px $LightGrayishCyan solid;
          border-radius: 20px;
          background-color: $White;
          margin-left: 30px;
          background-image: none;
          transition: background-color 0.5s ease-in-out,color 0.5s ease-in-out;

          @media(max-width:$Tablet){
            margin: 10px 0 20px;
            background-image: linear-gradient(to right,$VeryLightRed,$LightRed);
            background-color:none;
            border: none;
            color: $White;
          }
  
          &:hover{
            background-color: $VeryLightRed;
            color: $White;

            @media(max-width:$Tablet){
              background-image:none;
              background-color: $White;
              color: $VeryLightRed;
            }
          }
        }
      }
    }
  }

  .modalbtn{
    width: 60px;
    height: 42px;
    background-color: transparent;
    border: none;
    position: relative;
    margin-left: auto;
    display: none;

    &:hover{
      cursor: pointer;
    }

    @media(max-width:$Tablet){
      display: inline;
    }

    span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      max-width: 45px;
      background: $White;
      border-radius: 9px;
      opacity: 1;
      left: 5px;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:hover{
        cursor: pointer;
      }

      &:nth-child(1) {
        top: 5px;
      }
        
      &:nth-child(2) {
        top: 17px;
      }
        
      &:nth-child(3) {
        top: 29px;
      }
    }

    &.modalopen{
      span:nth-child(1) {
        top: 16px;
        transform: rotate(135deg);
      }
        
      span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
        
      span:nth-child(3) {
        top: 16px;
        transform: rotate(-135deg);
      }
    }
  }
}